@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&family=Spline+Sans:wght@300..700&display=swap');

*{
    font-family: "Spline Sans", sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    --preto:#190F26;
    --branco:#ffff;
    --azul:#174b9e ;
    --amarelo:#f8b421;
    --verde:#8abc25;
    --vermelho:#e43323;
}
body{
    background-color: var(--branco);
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    max-width: 30%;
}
.main_login{
    width: 100vw;
    margin: auto;
    position: relative;
}

.dec{
    max-width: auto;
    height: auto;
    float: right;
}
.bk{
    position: absolute;
    right: 0;
    z-index: -1;
    width: 974px;
    height: 974px;
    float: left;
    background-image: url('assets/lateral.png');
}
.bk img{
    max-width: auto;
    height: 100vh;
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-right: 40%;
}
.login-box{
    background: var(--branco);
    padding: 30px;
    border-radius: 12px;
    /* box-shadow: 0px 4px 15px rgb(0,0,0,0.2); */
    width: 40%;
    text-align: center;
}

.login-box h2{
    margin-bottom: 20px;
    color: var(--preto);
}
.link{
    text-decoration: none;
    color: var(--branco);
    display: block;
    padding: 10px 15px;
    background-color:var(--azul);
    border-top: 2px solid var(--amarelo);
    border-radius: 6px;
}
.link{
        transition: transform 0.3s ease-in-out;
    }
.link:hover{
    color: var(--amarelo);
    background-color: var(--branco);
    transform: scale(1.1);
}
.cad{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    color: var(--preto);
}
.cad>a{
    text-decoration: none;
}

.input-group{
    text-align: left;
    margin-bottom: 15px;
}

.input-group label{
    font-size: 14px;
    color: var(--preto);
    display: block;
    margin-bottom: 5px;
}

.input-group input{
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: 0.3s;
}

.input-group:focus{
    border-color: var(--verde);
    box-shadow: 0px 0px 5px var(--vermelho);
}

button{
    width: 50%;
    padding: 12px;
    background-color: var(--azul);
    background-size: 200% 200%;
    background-position: left center;
    color: var(--branco);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-position 1.5s ease-in-out;
}

button:hover{
    background-position: right center;
    transform: scale(1.1);
    background-color: var(--amarelo);
    transition: transform 0.3s ease-in-out;
}

@media screen and (max-width:1280px) {
    .bk{
        display: none;
    }
    .container{
        margin: 0;
    }
    .login-box{
        box-shadow: 0px 4px 15px rgb(0,0,0,0.2);
    }
}